In [2]:
print("SHIVAM KESHRI")
print("20BCS9337")

SHIVAM KESHRI
20BCS9337

In [3]:
import pandas as pd
data = pd.read_csv("heart.csv")

In [4]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [5]:
X = data.iloc[:,:-1]
Y= data.iloc[:,-1]

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train,X_test,Y_train,Y_test = train_test_split(X, Y, test_size=0.5, random_state=1)
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
227,44,0,2,118,242,0,1,149,0,0.3,1,1,2
353,57,1,0,110,201,0,1,126,1,1.5,1,0,1
9,54,1,0,122,286,0,0,116,1,3.2,1,2,2
955,62,1,2,130,231,0,1,146,0,1.8,1,3,3
30,44,1,0,120,169,0,1,144,1,2.8,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,64,1,0,120,246,0,0,96,1,2.2,0,1,2
767,68,1,0,144,193,1,1,141,0,3.4,1,2,3
72,56,1,0,125,249,1,0,144,1,1.2,1,1,2
908,62,1,0,120,267,0,1,99,1,1.8,1,2,3
235,64,1,3,170,227,0,0,155,0,0.6,1,0,3

In [8]:
from sklearn.preprocessing import StandardScaler
sc_x= StandardScaler()

In [9]:
X_train= sc_x.fit_transform(X_train)
X_test= sc_x.transform(X_test)
X_train

array([[-1.14038821, -1.51064598,  1.06890065, ..., -0.63674544,
         0.26340748, -0.54331141],
       [ 0.30320706,  0.66196846, -0.91398751, ..., -0.63674544,
        -0.72100587, -2.20903263],
       [-0.02993031,  0.66196846, -0.91398751, ..., -0.63674544,
         1.24782083, -0.54331141],
       ...,
       [ 0.19216127,  0.66196846, -0.91398751, ..., -0.63674544,
         0.26340748, -0.54331141],
       [ 0.85843601,  0.66196846, -0.91398751, ..., -0.63674544,
         1.24782083,  1.1224098 ],
       [ 1.08052759,  0.66196846,  2.06034473, ..., -0.63674544,
        -0.72100587,  1.1224098 ]])

In [10]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [11]:
model.fit(X_train,Y_train)

LogisticRegression()

In [12]:
Y_pred = model.predict(X_test)
Y_pred

array([0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 0, 0], dtype=int64)

In [24]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_pred,Y_test)

0.8265107212475633